.img-reveal-container{
  opacity: 0;
}
.image-reveal{
    min-height: 100vh;
    width: 100%;
}
.image-reveal .cover-reveal {
    position: absolute;
    top: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask: url("http://www.supah.it/dribbble/video-clip-mask.png?v=1");
            mask: url("http://www.supah.it/dribbble/video-clip-mask.png?v=1");
    -webkit-mask-size: 1800% 100%;
            mask-size: 1800% 100%;
  }
.img-reveal-container.right-reveal .cover-reveal{
    left: 0;
    width: 50vw;
    background-position: right bottom;
  }
.img-reveal-container.left-reveal .cover-reveal{
  left: auto;
  right: 0;
  width: 50vw;
  background-position: left bottom;
}
.img-reveal-container.centre-reveal .cover-reveal{
  left: auto!important;
  right: auto!important;
  background-position: center!important;
}


  .cover-reveal:after,
  .cover-reveal:before {
    content: "";
    display: block;
    height: 25%;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 999;
  }
  .cover-reveal:after{
    bottom: 0;
    background: linear-gradient(0deg, white, #ffffff00);
  }
  .cover-reveal:before{
    top: 0;
    background: linear-gradient(0deg, #ffffff00, white);
}